<%= form_tag("", id: "bank-account-form") do %>

    <div >
      <label ></label>
      <div>
        <%= text_field_tag "ba-name", nil, :placeholder => "Account Holder's Name", :class => "ba-name", :autocomplete => "off" %>
        
      </div>
    </div>
    <div >
      <label ></label>
      <div>
      	<%= text_field_tag "ba-rn", nil, :placeholder => "Routing Number", :class => "ba-rn", :maxlength => 9, :autocomplete => "off" %>
        <span class="help-block">Enter your 9 digit routing number</span>
      </div>
    </div>

    <div >
      <label ></label>
      <div>
        <%= text_field_tag "ba-an", nil, :placeholder => "Account Number", :class => "ba-an", :maxlength => 12, :autocomplete => "off" %>
         <span class="help-block">Enter your bank account number<span>
      </div>
    </div>

    <div >
      <label ></label>
      <div>
        <%= select_tag "ba-type", "<option value=''>Select Account Type</option><option value=\"checking\">CHECKING</option><option value=\"savings\">SAVINGS</option>".html_safe %>
        <span class="help-block">Specify your account type</span>
      </div>
    </div>

    <div >
      <label ></label>
      <div>
        <%= submit_tag "Pay", class: "btn", id: "ba-submit", disabled_with: "paying..." %>
      </div>
    </div>

<% end %>

